* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

body{
    display: grid;
    width: 100%;
    min-height: 100vh;
}

div.largeblock1{   
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  div.middleblock2{ 
  }

  div.smallblock2{ 
  }

  div.littleblock1{ 
  }

div.block1{ 
    background-color: rgb(214, 191, 176);   
    border: solid 1px black; 
  }

  div.block6{ 
    background-color: hsl(209, 72%, 68%); 
    border: solid 1px black; 
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  div.block2{  
    background-color: hsl(209, 72%, 68%);    
    border: solid 1px black; 
    
  }

  div.block3{ 
    background-color: hwb(123 65% 0%);   
    border: solid 1px black; 
  }

  div.block4{ 
    background-color: hwb(123 65% 0%);   
    border: solid 1px black; 
  }

  div.block5{  
    border: solid 1px black; 
  }



  .head_x{        
    flex:1;
    color: red;
  }

  .head_y{        
    top: 25%; 
    left: 7%;
    width: 5%;
    color: red;
  }

  div.text_block1{ 
    flex:4;
  }

  div.link_block{       
    top: 10%; 
    left: 0%;
    width:  2.5%;
    height: 10%;
  }